@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Generic */

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  background-color: #2b283a;
  padding: 1.1875rem 1.25rem;
}

.page {
  min-height: 600px;
  background-color: #ebebeb;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 1.5rem 1.8rem;
  flex-direction: column;
}

img {
  max-width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  /* Will be changed through media query */
  flex-direction: column;
}

.center__all {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.button {
  max-width: 300px;
  padding: 1em 2em;
  border-radius: 8px;
  background-color: #2a75bb;
  border: 5px solid #ffcb05;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.8rem;
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  font-size: 1rem;
  font-weight: 600;
}

.button:hover span:after {
  opacity: 1;
}

.button:focus {
  outline: none;
}

.button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.button__submit {
  background-color: #ff4444;
}

.button__reset {
  background-color: #26e28a;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.back {
  margin-right: 0.5em;
}

.next {
  margin-left: 0.5em;
}

/* Home page */

.page__home {
  align-items: center;
  justify-content: center;
}

.homepage__text {
  font-size: 1.5rem;
  font-weight: 600;
  max-width: 700px;
  text-align: center;
  margin-bottom: 0.8em;
}

.container__brand {
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  justify-content: center;
  align-items: center;
  color: #ffcb05;
  font-weight: 1000;
  font-size: 1rem;
  letter-spacing: 4px;
  -webkit-text-stroke: 1.5px #2a75bb;
  text-transform: uppercase;
  padding: 0;
}

.header__title {
  line-height: 0.2;
  margin-bottom: 0.8em;
}

.container__logo {
  max-width: 300px;
}

.logo {
  max-width: 100%;
}

/* Game */

/* Cards */
.card {
  display: inline;
  font-weight: 700;
  line-height: 1.5rem;
  text-align: center;
  color: #2b283a;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3.81277px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.2em 0.5em;
  max-width: 200px;
  margin-bottom: 1em;
}

.card__image {
  width: 130px;
  min-height: 200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.pokemon__name {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.container__question {
  min-height: 550px;
}

.page__memorize {
  justify-content: center;
}

.score--board {
  margin-left: auto;
  margin-bottom: 1em;
}

.question {
  align-items: center;
  margin-bottom: 1em;
}

.question > .card {
  margin-bottom: 1em;
}

.choice {
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.container__button {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.button + .button {
  margin-left: 1em;
}

.correct--answer {
  color: #ff6060;
  font-weight: 700;
}

/* Pokemon Types */

.card__pokemon--type {
  justify-content: center;
  margin-bottom: auto;
}

.pokemon__type {
  margin: 10px;
  padding: 0.25em 0.5em;
  border-radius: 6px;
  font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
  color: #fff;
  font-weight: 1000;
  font-size: 0.8rem;
  background-color: #68a090;
  border: 3px solid #ffffff;
  text-transform: uppercase;
  -webkit-text-stroke: 0.7px rgb(0, 0, 0);
}

.normal {
  background-color: #a8a878;
}

.fire {
  background-color: #f08030;
}

.water {
  background-color: #6890f0;
}

.electric {
  background-color: #f8d030;
}

.grass {
  background-color: #78c850;
}

.ice {
  background-color: #98d8d8;
}

.ground {
  background-color: #e0c068;
}

.flying {
  background-color: #a890f0;
}

.ghost {
  background-color: #705898;
}

.rock {
  background-color: #b8a038;
}

.fighting {
  background-color: #c03028;
}

.poison {
  background-color: #a040a0;
}

.psychic {
  background-color: #f85888;
}

.bug {
  background-color: #a8b820;
}

.dark {
  background-color: #705848;
}

.steel {
  background-color: #b8b8d0;
}

.dragon {
  background-color: #7038f8;
}

/* Media Query */

@media (min-width: 600px) {
  .row {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container__pokemon {
    justify-content: center;
  }

  .header__title {
    font-size: 2.2rem;
  }

  .card__pokemon + .card__pokemon {
    margin-left: 1em;
  }

  .choices {
    font-size: 1.2rem;
    justify-content: center;
  }

  .choice {
    margin-bottom: 0;
  }

  .container__question {
    justify-content: center;
    align-items: center;
  }

  .container__button {
    margin-top: 0;
  }

  .choice + .choice {
    margin-left: 0.5em;
  }

  .pokemon__type {
    font-size: 1rem;
  }

  .button {
    font-size: 0.9rem;
  }
}
